{{#if isMobile.any}}
    <p id='mobile-device'>I'm a mobile device!</p>
{{else}}
    <p id='not-mobile-device'>I'm not a mobile device :(</p>
{{/if}}

{{#if (is-mobile 'any')}}
    <p class="mobile-device-helper">I'm a mobile device ( Rendered via helper)</p>
{{else}}
    <p class="not-mobile-device-helper">I'm a not a mobile device ( Rendered via helper)</p>
{{/if}}